.app {
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 10px;
}

.app_main {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 8%;
  border: 1px solid #dcdcdc;
}

.task_column {
  width: 33.33%;
  margin: 20px;
}
